{% extends 'base.html.twig' %}

{% block title %}{{ 'labels.comments'|trans }}{% endblock %}

{% block body %}
    <h1 class="mb-4">{{ 'labels.comments'|trans }}</h1>

    <div class="container mb-4">
        <a href="{{ path('app_comment_new') }}" class="btn btn-outline-primary">{{ 'actions.create'|trans }}</a>
    </div>

    {% for comment in comments %}
        <div class="card m-3 d-inline-block">
            <div class="card-body">
                <h5 class="card-title">{{ comment.subject }}</h5>
                <p class="card-text">{{ comment.body }}</p>
                <a href="{{ path('app_comment_show', {'id': comment.id}) }}"
                   class="btn btn-outline-primary me-2">{{ 'actions.show'|trans }}</a>
                {% if is_granted('ROLE_EDITOR') or is_granted('EDIT', comment) %}
                <a href="{{ path('app_comment_edit', {'id': comment.id}) }}"
                   class="btn btn-outline-success">{{ 'actions.edit'|trans }}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
