{% extends 'base.html.twig' %}

{% block title %}MobileCompany index{% endblock %}

{% block body %}
    <h1>MobileCompany index</h1>

    <form class="input-group my-lg-4" method="get" action="{{ path('app_mobile_company_search') }}">
        <div class="col-4">
            <input type="search" placeholder="Search" class="form-control" name="q" value="{{ q|default('') }}">
        </div>
        <button type="submit" class="btn btn-primary">{{ 'actions.search'|trans }}</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mobile_company in mobile_companies %}
            <tr>
                <td>{{ mobile_company.id }}</td>
                <td>{{ mobile_company.name }}</td>
                <td>{{ mobile_company.phone }}</td>
                <td>{{ mobile_company.address }}</td>
                <td>
                    <a href="{{ path('app_mobile_company_show', {'id': mobile_company.id}) }}">{{ 'actions.show'|trans }}</a>
                    <a href="{{ path('app_mobile_company_edit', {'id': mobile_company.id}) }}">{{ 'actions.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mobile_company_new') }}">{{ 'actions.create'|trans }}</a>
{% endblock %}
