{% extends 'base.html.twig' %}

{% block title %}{{ mobile_company.name }}{% endblock %}

{% block body %}
    <h1 class="mb-4">{{ mobile_company.name }}</h1>

    <p class="h6">
        {{ mobile_company.phone }}
    </p>
    <p class="h6 mb-4">
        {{ mobile_company.address }}
    </p>

    <div class="container d-inline-flex">
        {% if is_granted('ROLE_EDITOR') or is_granted('EDIT', mobile_company) %}
            <a href="{{ path('app_mobile_company_edit', {'id': mobile_company.id}) }}"
               class="btn btn-outline-success me-2">{{ 'actions.edit'|trans }}</a>
        {% endif %}

        {% if is_granted('ROLE_EDITOR') or is_granted('DELETE', mobile_company) %}
            {{ include('mobile_company/_delete_form.html.twig') }}
        {% endif %}
    </div>

    {% for mobile_phone in mobile_company.mobilePhones %}
        <div class="card m-3 d-inline-block" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ mobile_phone.brand }}</h5>
                <p class="card-text h6">{{ mobile_phone.model }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span>Memory: </span>
                    {{ mobile_phone.memory }}
                </li>
                <li class="list-group-item">
                    <span>Storage: </span>
                    {{ mobile_phone.storage }}
                </li>
                <li class="list-group-item">
                    <span>Price: </span>
                    {{ mobile_phone.price|format_currency('USD') }}
                </li>
            </ul>
            <div class="card-body">
                <a href="{{ path('app_mobile_phone_show', {'id': mobile_phone.id}) }}"
                   class="btn btn-outline-primary me-2">{{ 'actions.show'|trans }}</a>
                {% if is_granted('ROLE_EDITOR') or is_granted('EDIT', mobile_phone) %}
                <a href="{{ path('app_mobile_phone_edit', {'id': mobile_phone.id}) }}"
                   class="btn btn-outline-success">{{ 'actions.edit'|trans }}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
