{% extends 'base.html.twig' %}

{% block title %}{{ 'labels.mobile_phones'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'labels.mobile_phones'|trans }}</h1>

    <div class="container">
        <form class="input-group my-4" method="get" action="{{ path('app_mobile_phone_search') }}">
            <div class="col-4">
                <input type="search" placeholder="{{ 'actions.search'|trans }}" class="form-control" name="q" value="{{ q|default('') }}">
            </div>
            <button type="submit" class="btn btn-outline-primary">{{ 'actions.search'|trans }}</button>
        </form>
        {% if is_granted('ROLE_COMPANY_OWNER') %}
            <a href="{{ path('app_mobile_phone_new') }}"
               class="btn btn-outline-primary">{{ 'actions.create'|trans }}</a>
        {% endif %}
    </div>

    {% for mobile_phone in mobile_phones %}
        <div class="card m-3 d-inline-block" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ mobile_phone.brand }}</h5>
                <p class="card-text h6">{{ mobile_phone.model }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span>Memory: </span>
                    {{ mobile_phone.memory }}
                </li>
                <li class="list-group-item">
                    <span>Storage: </span>
                    {{ mobile_phone.storage }}
                </li>
                <li class="list-group-item">
                    <span>Price: </span>
                    {{ mobile_phone.price|format_currency('USD') }}
                </li>
            </ul>
            <div class="card-body">
                <a href="{{ path('app_mobile_phone_show', {'id': mobile_phone.id}) }}"
                   class="btn btn-outline-primary me-2">{{ 'actions.show'|trans }}</a>
                {% if is_granted('ROLE_EDITOR') or is_granted('EDIT', mobile_phone) %}
                <a href="{{ path('app_mobile_phone_edit', {'id': mobile_phone.id}) }}"
                   class="btn btn-outline-success">{{ 'actions.edit'|trans }}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
